<%- include layouts/header.ejs %>

<h1>ADMIN PRODUCTS</h1>

<main class="content-faq">
    <h1 class="bottom-dotted text-center pt-1">List of products</h1> 

    <section class="content-user">
        <table>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Allergen</th>
                <th>Category ID</th>
                <th>Image</th>
                <th></th>
            </tr>                   
            <% if(data.length){             
                for(var i = 0;i < data.length;i++) { %>
                <tr>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].description%></td>
                    <td><%=data[i].allergen_info%></td>
                    <td><%=data[i].cat_id%></td>
                    <td><%=data[i].prd_img%></td>
                    <td>
                       <a class="btn-secondary" href="../adminproducts/edit/<%=data[i].id%>">Edit</a>
                       <a class="btn-secondary" href="../users/delete/<%=data[i].id%>">Delete</a>
                      
                    </td>
                </tr>
            <% }
            }else{ %>
                <tr>
                   <td colspan="3">No products</td>
                </tr>
           <% } %>    
        </table>
        <div class="container">
            <a href="/adminproducts/add" target="" class="btn-secondary" role="button" aria-pressed="true">
                Add New Product
            </a>
        </div>

    </section>


</main>     

<%- include layouts/footer.ejs %>