<%- include('layouts/header.ejs')%>

    <!-- main content -->
    <main class="">
        <% if (cart === null || cart.item.length == 0) {%>

            <h2>No item in shopping Cart</h2>

            <%} else {%>

        <h1 class="tex-center"> Your Order </h1>
        <section class="container mb-1">
            <table id="checkout-products">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                <tr> 
                <div class= "cart-items">
                <tr>
               

                    <td class="flex-container">
                    <div class ="cart-row">
                    
                         <div class="img-table">
                            <img src="/img/products/<%= item.img_src %>.jpg"
                             class="img"
                             title="<%= item.name %>"
                             alt="<%= item.name %>"/>
                        </div>
                        <div class="description-table">
                            <h2 class="text-left"><%= item.name %></h2>
                            <h3><%= item.allergen_info %></h3>
                            <p class="text-justify"> <%= item.description %></p>
                            <p class="text-justify"> 8 - 10 portions</p>
                            <button id ='remove-cart' target="" class="btn-remove-cart" type ="button" aria-pressed="true">
                                Remove from Cart</button> 
                        
                        <td>
                            <form class="pl-2">
                                <button class="minus-btn" type="button" name="button">-</button>
                                <span class="item-quantity" type = "number">0</span>
                                <button class="plus-btn" type="button" name="button">+</button>
                            </form>
                          </td>
                        <td>
                            <span class = "cart-price">
                                <h3 class="text-center"><%= item.price %></h3>
                            </span>
                        </td>
                        <%} %>
                      </div>
                    </div>
                      </td> 
  
            </div>
          </tr>
            </table>
            <div class="location-box">
                <div class="payment-card">
                    <h2 class="text-center product-name mb-1 pb-1">Choose Pick Up Location</h2>

                        <select id="location" name = "location" class="mt-1">  </select>
                </div>
                <div class="cart-total mt-2">
                    <h2 class="text-center product-name mb-1 pb-1">Cart Total</h2>
                    <h3 class="price-text mb-1">€0</h3>
                </div>
            </div>
        </section>
        <section class="container mb-1">
            <div class="mr-1">
               
                <button target="" class="btn-checkout" role="button" aria-pressed="true">
                    CONTINUE TO CHECKOUT
                </button>
            </div>
            <div class="mr-1">
                <button target="" class="btn-empty-cart" role="button" aria-pressed="true">
                    EMPTY CART
                </button>
            </div>
        </section>
        
    </main>

   <%- include layouts/footer.ejs %>
