<%- include layouts/header.ejs %>
<!-- main content -->
<main class="content-faq">
    <h1 class="bottom-dotted text-center pt-1">User Profile</h1>
    <section class="accordion-user">
        <button class="accordion-title">
            <h2> Manage my account </h2>
        </button>
        <div class="accordion-body">
            <form method="post" action='/users/edit/<%=data[0].id%>'>
                <div class="padding-1">
                    <label>First Name</label>
                    <input type= "text" name ="first_name" placeholder="First Name" class ="form-inputs" value="<%=data[0].first_name%>" required/>
                </div>
                <div class="padding-1">
                    <label>Last Name</label>
                    <input type= "text" name ="last_name" placeholder="Last Name" class ="form-inputs" value="<%=data[0].last_name%>" required/>
                </div>
                <div class="padding-1">
                    <label>Email</label>
                    <input type= "email" name ="email" placeholder="Email" class ="form-inputs" value="<%=data[0].email%>" required/>
                </div>
                <div class="padding-1">
                    <label>Phone</label>
                    <input type= "text" name ="phone" placeholder="Phone" class ="form-inputs" value="<%=data[0].phone%>"/>
                </div>
                <div class="padding-1 container">
                    <input type="submit" name="submit" value="Save" class="form-btn" >
                </div>   
            </form>
        </div>
    </section>

</main>
<!-- main content -->
<%- include layouts/footer.ejs %>