<%- include layouts/header.ejs %>
<!-- main content -->
<main class="content-user">
    <h1 class="bottom-dotted text-center pt-1 mb-1">Edit Product</h1>
    <section class="form-card">
        <form method="post" action='/users/edit/<%=data[0].id%>'>
            <div class="padding-1">
                <label>ID</label>
                <input type= "text" name ="username" placeholder="username" class ="form-inputs" value="<%=data[0].id%>" />
            </div>
            <div class="padding-1">
                <label>Name</label>
                <input type= "text" name ="fullname" placeholder="Full Name" class ="form-inputs" value="<%=data[0].name%>" />
            </div>
            <div class="padding-1">
                <label>Description</label>
                <input type= "email" name ="email" placeholder="Email" class ="form-inputs" value="<%=data[0].description%>" autocomplete required/>
            </div>
            </div>
            <div class="padding-1">
                <label>Allergen</label>
                <input type= "text" name ="phone" placeholder="Phone" class ="form-inputs" value="<%=data[0].allergen_info%>" autocomplete required/>
            </div>
            <div class="padding-1">
                <label>Category</label>
                <input type= "text" name ="phone" placeholder="Phone" class ="form-inputs" value="<%=data[0].cat_id%>" autocomplete required/>
            </div>
            <div class="padding-1">
                <label>Image Url</label>
                <input type= "text" name ="phone" placeholder="Phone" class ="form-inputs" value="<%=data[0].prd_img%>" autocomplete required/>
            </div>
            <div class="padding-1 container">
                <input type="submit" name="submit" value="Save" class="form-btn" >
            </div>   
        </form>
    </section>

</main>
<!-- main content -->
<%- include layouts/footer.ejs %>