<%- include layouts/header.ejs %>

        <div class="page-data">

     <!-- main content -->
    <main class="container">
        <!-- products large devices-->
        <div class="submenu">
            <% for (var i = 0; i < categories.length; i++) { %>
                <button class="tablinks" onclick="openProduct(event, '<%= categories[i].name %>')" <%= i === 0 ? 'id=defaultOpen' : '' %>> 
                    <%= categories[i].name %>
                </button>
                <% } %>
        </div>
        <% for (i = 0; i < categories.length; i++) { %>
            <section id="<%= categories[i].name %>" class="tabcontent">
                <h1 class="bottom-dotted text-center"><%= categories[i].name %></h1>
                <div class="card-container">
                    <% for (var j = 0; j < categories[i].products.length; j++) { %>
                    <div class="category-card">
                        <img src="/img/products/<%= categories[i].products[j].prd_img %>"
                            class="img"
                            title="<%= categories[i].products[j].name %>"
                            alt="<%= categories[i].products[j].name %>" />
                        <h2><%= categories[i].products[j].name %></h2>
                        <p class="text-justify pl-1 pr-1"><%= categories[i].products[j].description %></p>
                        <h3 class="price-text">From €<%= categories[i].products[j].min_price %></h3>
                        <div class="mb-1" >
                            <a href="./items/<%= categories[i].products[j].id %>" class="btn-secondary" role="button" aria-pressed="true">
                                View
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </section>
            <% } %>
       <!-- <section id="Cakes" class="tabcontent">
            <h1 class="bottom-dotted text-center">Cakes</h1>
            <div class="card-container">
                <div class="category-card">
                    <img src="img/products/choco_cake.jpg"  class="img" alt="chocolate cake">
                    <h2>
                        <% if(data.length){             
                            for(var i = 0; i < data.length;i++) { %>
                           <tr>
                               <td><%=data[0].name%></td>
                           </tr>
                            <% }
                               }else{ %>
                                    <tr>  <td colspan="3">No name</td> </tr>
                           <% } %>
                    </h2>
                    <p class="text-justify pl-1 pr-1">
                        <% if(data.length){             
                            for(var i = 0; i < data.length;i++) { %>
                           <tr>
                               <td><%=data[0].description%></td>
                           </tr>
                            <% }
                               }else{ %>
                                    <tr>  <td colspan="3">No name</td> </tr>
                           <% } %></p>
                    <h3 class="price-text">From €25</h3>
                    <div class="mb-1" >
                        <a href="/items" class="btn-secondary" role="button" aria-pressed="true">
                            View
                        </a>
                    </div>
                </div>
                <div class="category-card">
                    <img src="img/products/tiramisu_cake.jpg"  class="img" alt="tiramisu cake">
                    <h2>Tiramisu Cake</h2>
                    <p class="text-justify pl-1 pr-1">
                        It is  made of ladyfingers dipped-in coffee, layered with a whipped mixture of egg, sugar, and mascarpone cheese, flavoured with cocoa.
                    </p>
                    <h3 class="price-text">From €20</h3>
                    <div class="mb-1" >
                        <a href="/items" class="btn-secondary" role="button" aria-pressed="true">
                            View
                        </a>
                    </div>
                </div>
                <div class="category-card">
                    <img src="img/products/cheese_cake.jpg"  class="img" alt="cheese cake">
                    <h2>Cheese Cake</h2>
                    <p class="text-justify pl-1 pr-1">
                        Can be prepared in many flavors, suchas: strawberry, pumpkin, keylime, chestnut, or toffee.
                    </p>
                    <h3 class="price-text">From €25</h3>
                    <div class="mb-1" >
                        <a href="/items" class="btn-secondary" role="button" aria-pressed="true">
                            View
                        </a>
                    </div>
                </div>
                <div class="category-card">
                    <img src="img/products/lemon_cake.jpg"  class="img" alt="lemon cake">
                    <h2>Lemon Cake</h2>
                    <p class="text-justify pl-1 pr-1">
                        A combination of flour, sugar, eggs, lemon zest and butter.
                    </p>
                    <h3 class="price-text">From €20</h3>
                    <div class="mb-1" >
                        <a href="/items" class="btn-secondary" role="button" aria-pressed="true">
                            View
                        </a>
                    </div>
                </div>
                <div class="category-card">
                    <img src="img/products/berry_cake.jpg"  class="img" alt="berry cake">
                    <h2>Berrys Cake</h2>
                    <p class="text-justify pl-1 pr-1">
                        A combination of flour, sugar, eggs, butter and berries.
                    </p>
                    <h3 class="price-text">From €20</h3>
                    <div class="mb-1" >
                        <a href="/items" class="btn-secondary" role="button" aria-pressed="true">
                            View
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="Brownies" class="tabcontent">
            <h1 class="bottom-dotted text-center">Brownies</h1>
            <div class="card-container">
                <div class="category-card">
                    <img src="img/products/almond_brownies.jpg"  class="img" alt="almond cake">
                    <h2>Almond Brownies</h2>
                    <p class="text-justify pl-1 pr-1">
                        Contains less butter and more flour, almonds and chocolate.
                    </p>
                    <h3 class="price-text">From €15 - €30</h3>
                    <p class="text-center"> 4, 8, 12 & 24 units</p>
                    <div class="mb-1" >
                        <a href="/items" class="btn-secondary" role="button" aria-pressed="true">
                            View
                        </a>
                    </div>
                </div>
                <div class="category-card">
                    <img src="img/products/fudgy_brownies.jpg"  class="img" alt="fudgy brownies.jpg">
                    <h2>Fudgy Brownies</h2>
                    <p class="text-justify pl-1 pr-1">
                        Melting the butter rather than creaming it with sugar yields a denser, fudgier outcome.
                    </p>
                    <h3 class="price-text">From €15 - €30</h3>
                    <p class="text-center"> 4, 8, 12 & 24 units</p>
                    <div class="mb-1" >
                        <a href="/items" class="btn-secondary" role="button" aria-pressed="true">
                            View
                        </a>
                    </div>
                </div>
                <div class="category-card">
                    <img src="img/products/blondie_brownies.jpg"  class="img" alt="blondie brownies.jpg">
                    <h2>Blondie Brownies</h2>
                    <p class="text-justify pl-1 pr-1">
                        Blondies are really butterscotch bars, made with brown sugar, butter, and eggs and usually nuts, but no chocolate.
                    </p>
                    <h3 class="price-text">From €15 - €30</h3>
                    <p class="text-center"> 4, 8, 12 & 24 units</p>
                    <div class="mb-1" >
                        <a href="/items" class="btn-secondary" role="button" aria-pressed="true">
                            View
                        </a>
                    </div>
                </div>               
            </div>
        </section>
        <section id="Cupcakes" class="tabcontent">
            <h1 class="bottom-dotted text-center">Cupcakes</h1>
            <div class="card-container">
                <div class="category-card">
                    <img src="img/products/fruit-merenge_cupcake.jpg"  class="img" alt="fruit-merenge cupcakes">
                    <h2>Fruit-Menrengue Cupcakes</h2>
                    <p class="text-justify pl-1 pr-1">
                        A small cake designed to serve of small portions.
                    </p>
                    <h3 class="price-text">From €15 - €30</h3>
                    <p class="text-center"> 4, 8, 12 & 24 units</p>
                    <div class="mb-1" >
                        <a href="/items" class="btn-secondary" role="button" aria-pressed="true">
                            View
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="Cookies" class="tabcontent">
            <h1 class="bottom-dotted text-center">Cookies</h1>
            <div class="card-container">
                <div class="category-card">
                    <img src="img/products/cookies_product.jpg"  class="img" alt="chocolate chip cookies">
                    <h2>Chocolate Chip Cookies</h2>
                    <p class="text-justify pl-1 pr-1">
                        A small cake designed to serve of small portions.
                    </p>
                    <h3 class="price-text">From €15 - €30</h3>
                    <p class="text-center"> 4, 8, 12 & 24 units</p>
                    <div class="mb-1" >
                        <a href="/items" class="btn-secondary" role="button" aria-pressed="true">
                            View
                        </a>
                    </div>
                </div>
            </div>
        </section>-->
    </main>
    <!-- main content -->   
<%- include layouts/footer.ejs %>