<%- include layouts/header2.ejs %>
<!-- main content -->
<main class="content-faq">
    <h1 class="bottom-dotted text-center pt-1">Users List</h1> 

    <section class="content-user">
        <table>
            <tr>
                <th width="50px"> Username</th>
                <th> Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>                   
            <% if(data.length){             
                for(var i = 0;i < data.length;i++) { %>
                <tr>
                    <td><%=data[i].username%></td>
                    <td><%=data[i].fullname%></td>
                    <td><%=data[i].email%></td>
                    <td><%=data[i].phone%></td>
                    <td>
                       <a class="btn-secondary" href="../users/edit/<%=data[i].id%>">Edit</a>
                       <a class="btn-secondary" href="../users/delete/<%=data[i].id%>">Delete</a>
                      
                    </td>
                </tr>
            <% }
            }else{ %>
                <tr>
                   <td colspan="3">No user</td>
                </tr>
           <% } %>    
        </table>
        <!--
        <div class="container">
            <button onClick="addUser();" class="btn-secondary">Add User</button>
        </div> --> 

    </section>


</main>     
<%- include layouts/footer.ejs %>
